.paciente-invalido {
  background-color: red;
}

.fadeOut {
    opacity: 0;
    transition: 0.5s;
}

#mensagensErro {
  text-align: center;
  font-size: 20px;
  color: red;
}


.ocultar {
  display: none;
}
